$primary-color: var(--primary-color);
$background-color: var(--background-color);
$background-color-darker: var(--background-color-darker);
$background-color-lighter: var(--background-color-lighter);
$offline-status: var(--offline-status);

$text-color: #f9f6ee;
$base-color: rgba($text-color, 0.7);
$split-line: rgba($text-color, 0.5);

$bone-white: rgba(249, 246, 238, 0.6);
$default-background: rgb(232, 241, 243);

.x-border-panel:not(
    .syno-ux-formpanel,
    .avatar-ct,
    .chat-input-aria-main-v2,
    .syno-ux-textfilter,
    .member-list-dataview
),
div.x-panel.chat-content-panel.syno-ux-panel.chat-content-panel.x-panel-noborder:not(
    .syno-ux-formpanel
) {
    background-color: $background-color-darker !important;
    background-image: none !important;
}

div.x-panel.x-panel-noborder.x-border-panel:not(.syno-ux-formpanel) {
    background-color: $background-color !important;
}

/***********
 * Sidebar *
 ***********/

.channel-list-item.x-view-selected,
.online-status.online-number-online.online
{
    background-color: $primary-color !important;
}

.online-status.online-number-offline.offline {
    background-color: $offline-status !important;
}

div.channel-list-item.x-view-selected>.online-status.online-number-online {
    background-color: $text-color !important;
}

div.channel-list-item.x-view-selected>.online-status.online-number-offline {
    background-color: $background-color-lighter !important;
}

.online-status.online-number-online,
.online-status.online-number-offline {
    background-image: none !important;
    border-radius: 50% !important;
    height: 12px !important;
    width: 12px !important;
    margin-top: 6px;
    margin-left: 6px;
}

.channel-list-item.x-view-selected * {
    color: $background-color !important;
}

/************
 * Chat Msg *
 ************/

.extra-date-splitter-wrapper,
.date-splitter-line,
.date-splitter-text,
.new-msg-spliter-line,
.new-msg-spliter-text,
.msg-wrap.group-first,
.msg-additional-wrapper,
.x-window.chat-thread-dialog .x-window-body.x-window-body-noheader,
.cursor-pointer.comment-wrap
{
    background-color: $background-color !important;
}



.welcome-hello,
.date-splitter-text,
.new-msg-splitter-text {
    color: $text-color !important;
}

.x-window.chat-thread-dialog .msg-wrap:not(.thread-header),
.x-window.chat-thread-dialog .more-comments-btn {
    border: none !important;
}

.chat-thread-dialog
{
    box-shadow: 0 1px 0 $background-color !important;
}

/**************
 * Chat Panel *
 **************/

.chat-msgview {
    background-color: $background-color !important;
}

.chat-msg-top-toolbar :is(
    .msg-title,
    a,
    .chat-center-content-panel .member-btn>button
) {
    color: $text-color !important;
    padding-right: 5px;
}

.chat-center-content-panel.collapsed::after {
    background-color: $background-color !important;
}

.chat-search-result span {
    color: $text-color !important;
}

.msg-wrap {
    &:active, &.active {
        background-color: $background-color !important;
    }
    &:hover {
        background-color: $background-color !important;

        .inner-wrapper {
            background-color: $background-color !important;
        }
        .file-wrapper .inner-wrapper div.msg-file-name:hover {
            color: $primary-color !important;
        }
    }
    :is(
        .msg-user-channel-name :is(.msg-left-brackets, .msg-channel-name),
        .msg-right-brackets,
        .text-wrapper>div.markdown,
        .file-wrapper .file-desc>div.markdown,
        .file-wrapper .msg-file-name:not(:hover),
        .url-wrapper .url-text-wrapper>.url-title:not(:hover),
        .msg-text>.msg-additional-btns>.msg-reaction-wrap:not(.self-added) .msg-reaction-num,
        .msg-user-name,
        div.msg-text,
        .commentor,
        .msg-add-hashtag-wrap .hashtag-textfield-ct>input
    ){
        color: $text-color !important;
    }

    // msg action container
    .msg-action-container {
      background-color: $background-color-darker !important;
    }

    .msg-text {
        .collapsed-msg-more-btn {
            color: $primary-color !important;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
                        $background-color 10px) !important;
        }
        .vote-wrapper {
            .count-bar-wrap .count-bar {
                background-color: $primary-color !important;
            }
            .title-wrap .count {
                color: $primary-color !important;
            }
        }
        .markdown>.label {
            background-color: $background-color-darker !important;
            color: $primary-color !important;
            border: 1px solid $background-color-darker !important;
        }

        .markdown li::before {
            background-color: $text-color !important;
        }

        // markdown code block bacground color
        .markdown .pre {
            background-color: $background-color-lighter !important;
        }

        // left border of uploaded image and file
        .url-wrapper, .file-wrapper {
            border-left: 4px solid $background-color-lighter !important;
        }
    }

    span:is(.mention-user, .hash-tag, .mention-default),
    a,
    span.msg-file-name,
    .url-wrapper .url-text-wrapper>.url-title:hover,
    .comment-count,
    .msg-count
    {
        color: $primary-color !important;
    }

    .url-wrapper .url-text-wrapper>.url-desc {
        color: rgba($text-color, 0.7) !important;
    }

    .msg-inputarea-textarea-wrap{
        border: 1px solid $primary-color !important;
    }

    .msg-action-container .msg-action-divider {
        background-color: $text-color !important;
    }

    div.msg-additional-hashtag-wrap {
        background-color: $background-color !important;
        border-color: $primary-color !important;

        .hash-tag {
            color: $primary-color !important;
        }
    }

    .msg-reaction-wrap {
        &.self-added {
            border-color: $primary-color !important;
            .msg-reaction-num {
                color: $primary-color !important;
            }
        }
        background-color: $background-color !important;
    }

    .system-text {
        color: $bone-white !important;
    }

    &.group-first.thread-header {
        border-bottom-color: $split-line !important;
    }
}

span.msg-inputarea-send-btn {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.chat-input-aria-main-v2 {
    background-color: $background-color !important;

    .msg-inputarea-textarea-wrap {
        border-color: $split-line !important;
        background-color: $background-color !important;

        .msg-inputarea-textarea {
            color: $text-color !important;
            background-color: $background-color !important;
        }
    }
}

.user-status.offline {
    background-color: $background-color-lighter !important;
}

.syno-chat span.msg-inputarea-send-btn.x-item-disabled button,
span.msg-inputarea-send-btn.x-item-disabled button,
span.msg-inputarea-send-btn button {
    color: $background-color !important;
}

div.anonymous-list * {
    background-color: $default-background !important;
}

// Chat msg top toolbar buttons
.syno-chat {
  .chat-msg-top-toolbar .syno-ux-button {
    background-color: $base-color !important;

    &>button::before {
        // TODO - may cause issue
        display: none !important;
    }
  }
}

/****************
 * Msg splitter *
 ****************/

.msgs .item-wrap .date-splitter-wrapper {

    .date-splitter-line,
    .new-msg-splitter-line {
        $shrinked: 15px;
        background-color: $primary-color !important;
        margin: 0px $shrinked 0px $shrinked;
        width: calc(100% - #{$shrinked * 2});
    }

    .date-splitter-text,
    .new-msg-splitter-text {
        background-color: $background-color !important;
        color: $primary-color !important;
    }
}

/********************
* chat popup window *
*********************/

.chat-modal-window {
    background-color: $background-color !important;

    .x-window-header-text {
        color: $text-color !important;
    }
    .x-window-body {
        background-color: $background-color !important;

        .chat-list-item {
            color: $text-color !important;
        }
        .x-tab-strip-text {
            color: $text-color !important;
        }
        .jump-input {
            background-color: $background-color-lighter !important;
        }
    }
}

#chat-jump-list {
    background: $background-color !important;

    .contentwrapper {
        background-color: $background-color !important;

        .chat-groupinglist-selected {
            background-color: $background-color-lighter !important;
        }

        .name {
            color: $text-color !important;
        }
    }
}
